# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data","Science","Mentorship","Program","Started","By","CampusX",sep="-")

Data-Science-Mentorship-Program-Started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
celsius = int(input("Enter Celsius : "))
Fahrenheit = (celsius*1.8)+32
print("Fahrenheit : ",Fahrenheit)

Enter Celsius : 25
Fahrenheit :  77.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
n1 = int(input("Enter n1 : "))
n2 = int(input("Enter n2 : "))
temp = n1
n1 = n2
n2 = temp
print("n1",n1)
print("n2",n2)

Enter n1 : 5
Enter n2 : 3
n1 3
n2 5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
x1 = int(input("Enter x1 : "))
x2 = int(input("Enter x2 : "))
y1 = int(input("Enter y1 : "))
y2 = int(input("Enter y2 : "))
euclidean = ((((x1-x2)**2)+ ((y1-y2)**2))**(1/2))
print(euclidean)

Enter x1 : 8
Enter x2 : 6
Enter y1 : 4
Enter y2 : 9
5.385164807134504

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
Principle = int(input("Enter a value of Principle : "))
RateOfInterset = int(input("Enter a value of Rate of Interest : "))
TimePeriod = int(input("Enter a value of Time Period : "))
SimpleInterest = ((Principle * RateOfInterset*TimePeriod)/100)
print(SimpleInterest)

Enter a value of Principle : 2000
Enter a value of Rate of Interest : 2
Enter a value of Time Period : 3
120.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
No_Heads = int(input("Enter No. of Heads : "))
No_Legs = int(input("Enter No. of Legs : "))
DogsLegs = 4
ChickenLegs = 2
No_Dogs = 0
No_Chicken = 0

Enter No. of Heads : 4
Enter No. of Legs : 12
1

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n = int(input("Enter a number : "))
sum = 0
for i in range(1,n+1):
  i *= i
  sum += i
print("\nsum is : ",sum)

Enter a number : 5

sum is :  55

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
n1 = int(input("Enter a Number 1 : "))
n2 = int(input("Enter a Number 2 : "))
num = int(input("Enter a Nth term : "))
distance = n2 - n1
series = n1+(num-1)*distance
print(series)

Enter a Number 1 : 5
Enter a Number 2 : 8
Enter a Nth term : 15
47

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
numerator1 =  int(input("Enter a Nomerator 1 : "))
denominator1 =  int(input("Enter a denominator 1 : "))
numerator2 =  int(input("Enter a Nomerator 2 : "))
denominator2 =  int(input("Enter a denominator 2 : "))
n = (numerator1*denominator2 + numerator2*denominator1)
d = (denominator1*denominator2)
print(n,"/",d)

Enter a Nomerator 1 : 1
Enter a denominator 1 : 2
Enter a Nomerator 2 : 3
Enter a denominator 2 : 2
8 / 4

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
Height = int(input("enter Height of Milk Tank : "))
Width = int(input("Enter Width of Milk Tank : "))
Breadth = int(input("Enter Breadth of Milk Tank : "))

heightOfGlass = int(input("Enter Glass Height : "))
radius = int(input("Enter Glass Radius : "))

VolumeOfTank = Height*Width*Breadth
VolumeOfGlass = (3.14*radius*radius)*heightOfGlass

Fill = VolumeOfTank/VolumeOfGlass
print(Fill//10)

enter Height of Milk Tank : 20
Enter Width of Milk Tank : 20
Enter Breadth of Milk Tank : 20
Enter Glass Height : 3
Enter Glass Radius : 1
84.0