### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
Annual_Salary=int(input("Enter your salary in lakh"))
hra = Annual_Salary*0.10
da = Annual_Salary*0.05
pf = Annual_Salary*0.03
if(Annual_Salary<500000):
  tax=Annual_Salary*0
elif(Annual_Salary>=500000 or Annual_Salary<=1000000):
  tax=Annual_Salary*0.10
elif(Annual_Salary>1000000 or Annual_Salary<=2000000):
  tax=Annual_Salary*0.20
else:
  tax=Annual_Salary*0.30
TotalSalary=Annual_Salary-hra-da-pf-tax
print("salary: ",TotalSalary)

your excact salary in lakhs1200000
your in hand salary is  864000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
Input_Angle1 = int(input("Enter Angle 1 : "))
Input_Angle2 = int(input("Enter Angle 2 : "))
Input_Angle3 = int(input("Enter Angle 3 : "))

sum = Input_Angle1 + Input_Angle2 + Input_Angle3

if sum == 180:
  print("Its a Triangle !!!")
else:
  print("Its not a Triangle !!")

Enter Angle 1 : 60
Enter Angle 2 : 60
Enter Angle 3 : 60
Its an Triangle !!!

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
Cost_Price = int(input("Enter Cost Price : "))
Selling_Price = int(input("Enter Selling Price : "))

profit = Selling_Price - Cost_Price

if Selling_Price > Cost_Price:
  print("You got a Profit !! ")
  print("Profit : ",profit)
elif Selling_Price < Cost_Price:
  print("You got a Loss !! \nImprove ")
  print("Loss : ",profit)

Enter Cost Price : 10000
Enter Selling Price : 12000
You got a Profit !!
Profit :  2000

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
n = int(input("\n1. Cm to Feet \n2. Km to Miles \n3. USD to INR \n4. Exit \nEnter a Value : "))
if n == 1:
  cm = input("Enter Centimeter : ")
  cm = float(cm)
  feet = cm/30.48
  print(f"{cm}cm converted into ft : ",feet)
elif n == 2 :
  km = input("Enter Kilometers : ")
  km = float(km)
  miles = km*0.621
  print(f"{km}km converted into miles : ",miles)
elif n == 3:
  usd = input("Enter USD : ")
  usd = float(usd)
  ExchangeRate = float(input("Enter Exchange rate : "))
  inr = usd * ExchangeRate
  print(f"{usd}USD Converted into INR {float(inr)}")
elif n >= 4:
  print("Exit !!!")

1. Cm to Feet
2. Km to Miles
3. USD to INR
4. Exit
Enter a Value : 5
Exit !!!

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
n = int(input("Enter a number : "))
n1 = 0
n2 = 1
print(n1,n2,end=" ")
for i in range(n):
  n3 = n2+n1
  n1 = n2
  n2 = n3
  print(n3 ,end = " ")

Enter a number : 5
0 1 1 2 3 5 8

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
n = int(input("Enter a Number : "))
total = 1
for i in range(n,0,-1):
  if i == 1:
    print(1)
  elif i >= 1:
    print(i,end = " x ")
    total *= i
print(f"\nFactorial of {n} :",total)

Enter a Number : 5
5 x 4 x 3 x 2 x 1

Factorial of 5 : 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
n = int(input("Enter a Number : "))
last_digit = 0
reverse = 0
while n > 0:
  last_digit = n%10
  reverse = reverse*10 + last_digit
  n = n//10
print(reverse)

Enter a Number : 76542
24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
n = int(input("Enter a Number : "))
i = 1
total = 0
while i <= n:
  if i % 5 == 0:
    i += 1
    continue
  if total +i> 300:
    break
    total += i
    i += 1
print(total,end=" ")

Enter a Number : 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
n = int(input("Enter a value : "))
sum = 0
avg = 0
while n > 0:
  if n == 0 :
    print("Not Accepting !!")
    break
  elif n > 0:
    sum += n
    avg += 1
    print("Acceting")
    n = int(input("Enter a value : "))

print("Sum of Accepting Values : ",sum)
average = (sum/avg)
print("Average of Accepting Values : ",average)

Enter a value : 5
Acceting
Enter a value : 5
Acceting
Enter a value : 5
Acceting
Enter a value : 0
Sum of Accepting Values :  15
Average of Accepting Values :  5.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000,3200+1):
  if i%7==0 and i%5!=0:
    print(i,end =",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for i in range(1000,3001):
  number = i
  while number > 0:
    last_value =  number%10
    if last_value % 2 != 0:
      break
    number = number//10
  else:
    print(i,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
n = int(input("Enter a number : "))
temp = n**0.5
temp = int(temp)
for i in range(2,temp+1):
  if n%i == 0:
    print("Its not a prime number  !!")
    break
else:
  print("Its a Prime Number")

Enter a number : 7
Its a Prime Number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
last_value = 0
start = int(input("Enter Starting Value : "))
Ending = int(input("Enter Ending Value : "))
for i in range(start,Ending+1):
  number = i
  total = 0
  while number > 0:
    last_value = number%10
    cube = last_value**3
    total += cube
    number = number//10
  if total == i :
    print(i,end = " ")

Enter Starting Value : 0
Enter Ending Value : 500
0 1 153 370 371 407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [1]:
H=int(input("hour : "))
M=int(input("minute :"))
Hour_Angle=30*H+0.5*M
Minute_Angle=6*M
if Hour_Angle > Minute_Angle:
  angle=Hour_Angle-Minute_Angle
else:
  angle=Minute_Angle-Hour_Angle
if angle > 180:
  final_angle = 360 - angle
else:
  final_angle = angle
final=int(final_angle)
print(final)

hour : 9
minute :0
90

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
l1 = (0,10)
r1 = (10,0)

l2 = (5,5)
r2 = (15,5)

if(r1[0]<l2[0] or r2[0]<l1[0] or l2[1]<r1[1] or l1[1]<r2[1]):
  print("Rectangle are not overlapping !!")
else:
  print("Rectangle are overlapping !!")

Rectangle are overlapping !!

In [ ]:
N = int(input("Enter a number: "))
i = 1
total = 0

while i <= N:
    if i % 5 == 0:
        i += 1
        continue
    if total +i> 300:
        break
    total += i
    i += 1

print(total)

Enter a number: 30
276

In [ ]:
for i in range(1000,3001):
  t=i
  while(t>0):
    digit=t%10
    if(digit%2!=0):
      break
    t=t//10
  else:
    print(i , end='  ')

2000  2002  2004  2006  2008  2020  2022  2024  2026  2028  2040  2042  2044  2046  2048  2060  2062  2064  2066  2068  2080  2082  2084  2086  2088  2200  2202  2204  2206  2208  2220  2222  2224  2226  2228  2240  2242  2244  2246  2248  2260  2262  2264  2266  2268  2280  2282  2284  2286  2288  2400  2402  2404  2406  2408  2420  2422  2424  2426  2428  2440  2442  2444  2446  2448  2460  2462  2464  2466  2468  2480  2482  2484  2486  2488  2600  2602  2604  2606  2608  2620  2622  2624  2626  2628  2640  2642  2644  2646  2648  2660  2662  2664  2666  2668  2680  2682  2684  2686  2688  2800  2802  2804  2806  2808  2820  2822  2824  2826  2828  2840  2842  2844  2846  2848  2860  2862  2864  2866  2868  2880  2882  2884  2886  2888